/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* FONT END */

/* Colors */
:root {
    --background-color: #e6e1d1;
    --gray: #9c9b9a;
    --dark-green: #095213;
    --yellow: #ffc803;
}

/* Colors END*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    /* flex-wrap: wrap; */
    align-items: center;
    position: relative;
}

header>ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding: 0 10px;
}

header a {
    text-decoration: none;
    color: var(--gray);
    padding: 10px 15px;
}

.dropdown {
    position: absolute;
    display: none;
    margin-top: 10px;
    background: #fff;
    width: 30%;
    border-radius: 1em;
}

.dropdown li {
    display: flex;
    gap: 1em;
    padding: 1.5em;
}

.links>:nth-child(1):hover .dropdown {
    display: block;
}

.register>:nth-child(2) a {
    color: #ffffff;
    padding: 1em 1.5em;
    border-radius: 10px;
    background-color: var(--dark-green);
    font-weight: bold;
}

/* MAIN */
main {
    padding: 0 5em;
}

.grid-article {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

.card-one {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-one p {
    line-height: 1.5em;
    width: 80%;
}

.card-one li {
    list-style-type: none;
    padding: 10px 0;
}

.card-one a {
    padding: 1em 1.5em;
    border-radius: 10px;
    background-color: var(--dark-green);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.card-one h1 {
    width: 70%;
    font-size: 3rem;
}

.sara-call {
    max-width: 20em;
}

.rating {
    display: flex;
    gap: 1em;
    align-items: center;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin-top: 4em;
    padding: 2em 0;
}

footer p {
    color: var(--gray);
    font-weight: bold;
}

.sponsors {
    display: flex;
    gap: 5em;
}

/*----------- RESPONSIVE AREA ----------- */

@media screen and (max-width: 414px) {

    /* HEADER */
    header {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .logo-brand {
        max-width: 10em;
    }

    .links {
        outline: green solid 1px;
        /* white-space: nowrap; */
        flex-direction: column;
        gap: 2em;
        background: url('/Assets/patternpad.svg');
        padding: 1.5em;
        width: 100%;
        align-items: center;
    }

    .links li a {
        color: #000;
        font-weight: bold;
    }

    .dropdown {
        margin-top: 10px;
        width: 80%;
        left: 40px;
        background-color: #252522;
    }

    .dropdown li {
        display: flex;
        gap: 1em;
        padding: 1.5em;
        color: #fff;
    }

    .register {
        flex-direction: column;
        gap: 2em;
        height: 10em;
        justify-content: center;
        align-items: center;
        background-color: #ba5151;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
    }

    .register>:nth-child(1) a {
        color: #ffffff;
        font-weight: bold;
    }

    /* HEADER END */

    /* MAIN GRID */
    main {
        display: flex;
        justify-content: center;
    }

    .grid-article {
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .card-one {
        grid-row-start: 2;
    }

    .card-one h1 {
        font-size: 2rem;
        width: 90%;
    }

    .card-one p {
        width: 100%;
    }

    .rating {
        margin: 2em 0;
        font-weight: bold;
        white-space: nowrap;
        text-decoration: underline red;
        text-underline-offset: 3px;
    }

    /* MAIN GRID END */

    /* FOOTER */
    footer {
        gap: 3em;
    }

    .sponsors {
        flex-direction: column;
    }

    .sponsors img {
        max-width: 10em;
    }

    /* FOOTER END */
}